.articles-list-container {
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    box-sizing: border-box;
}

.articles-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.article-item p {
    margin: 10px 0; /* Spacing between paragraphs */
    line-height: 1.5; /* Improve readability */
}

.error-message {
    color: red;
    margin-top: 20px;
}

.article-item-link {
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* Inherits text color */
    display: block; /* Makes the link a block, enabling it to fill the space of the li */
}

.article-item {
    background-color: #f4f4f4;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.article-item:hover {
    background-color: #e2e2e2; /* Slightly change color on hover to indicate interactivity */
}

.search-form {
    display: flex;
    align-items: center; /* Ensures vertical alignment */
    gap: 10px;
}

.search-input, .search-button {
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px; /* Optional: For rounded corners */
}

.search-input {
    flex-grow: 1;
}

.search-button {
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 0 20px;
}

.search-button:hover {
    background-color: #0056b3;
}
