*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  --poppy: hsla(356, 74%, 52%, 1);
  --navy-blue: hsla(240, 100%, 25%, 1);
  --lemon-chiffon: hsla(58, 74%, 85%, 1);
  --buff: hsla(27, 64%, 65%, 1);
  --bistre: hsla(10, 31%, 19%, 1);
  --off-white: hsla(45, 29%, 97%, 1);

  --background-color: var(--off-white);
  --accent-color: var(--navy-blue);
  --secondary-color: var(--poppy);
  --tertiary-color: var(--lemon-chiffon);
  --warning-color: var(--buff);
  --text-color: var(--bistre);

  background-color: var(--background-color);
  color: var(--text-color);
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  padding: 20px;
}

.wrapper {
  max-width: min(800px, 100% - 4rem);
  margin-inline: auto;
}

.wrapper header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

button {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;

  border-radius: 5px;
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  background: var(--background-color);
}

button:focus,
button:hover {
  background: var(--accent-color);
  color: var(--background-color);
}

.error-message {
  color: var(--warning-color);
  background-color: var(--lemon-chiffon);
  border: 2px solid var(--buff);
  padding: 1em;
  margin: 1em 0;
  border-radius: 5px;
}

form {
  background: var(--off-white);
  padding: 20px;
  border-radius: 8px;
}

form input,
form textarea,
form select {
  display: block;
  margin: .5rem 0 1rem 0;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  border-radius: 5px;
  border: 2px solid var(--accent-color);
  font-size: 1rem;
  width: 100%;
}

form label {
  margin-left: 1rem;
  display: block;
  font-weight: bold;
}

form label::before,
form label::after {
  content: '';
  position: absolute;
  height: 1.65rem;
  top: -.25rem;
  left: -5px;
  width: calc(100% + 10px);
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  background-color: white;
}

form button {
  margin-right: 1rem;
}

form button[type=button] {
  border-color: var(--background-color);
}

form button[type=button]:focus,
form button[type=button]:hover {
  border-color: var(--accent-color);
}

form button[type=submit] {
  background: var(--accent-color);
  color: var(--background-color);
}

/* Add responsiveness to the form elements */
@media (max-width: 768px) {
  .wrapper {
    padding: 10px;
  }

  form input,
  form textarea,
  form select {
    padding: 0.8rem 0.4rem;
  }

  form button {
    font-size: 1.2rem;
  }
}
